In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("tripadvisor_hotel_reviews.csv")
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

In [4]:
data['Rating'].unique()

array([4, 2, 3, 5, 1], dtype=int64)

In [5]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
porter = PorterStemmer()

In [7]:
corpus = []
stop_words = stopwords.words('english')
stop_words.remove('not')
for i in range(0, len(data)):
    review = re.sub("[^a-zA-Z]"," ", data['Review'][i])
    review = review.lower()
    review = review.split()
    
    review = [porter.stem(word) for word in review if word not in stop_words]
    review = ' '.join(review)
    corpus.append(review)

In [8]:
data['text'] = corpus

In [9]:
data.to_csv('review1.csv')

In [10]:
data.head()

,Review,Rating,text
0,nice hotel expensive parking got good deal sta...,4,nice hotel expens park got good deal stay hote...
1,ok nothing special charge diamond member hilto...,2,ok noth special charg diamond member hilton de...
2,nice rooms not 4* experience hotel monaco seat...,3,nice room not experi hotel monaco seattl good ...
3,"unique, great stay, wonderful time hotel monac...",5,uniqu great stay wonder time hotel monaco loca...
4,"great stay great stay, went seahawk game aweso...",5,great stay great stay went seahawk game awesom...

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
 2   text    20491 non-null  object
dtypes: int64(1), object(2)
memory usage: 480.4+ KB