In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("review.csv")
data.head()

,Unnamed: 0,Review,Rating,text
0,0,nice hotel expensive parking got good deal sta...,4,nice hotel expens park got good deal stay hote...
1,1,ok nothing special charge diamond member hilto...,2,ok noth special charg diamond member hilton de...
2,2,nice rooms not 4* experience hotel monaco seat...,3,nice room experi hotel monaco seattl good hote...
3,3,"unique, great stay, wonderful time hotel monac...",5,uniqu great stay wonder time hotel monaco loca...
4,4,"great stay great stay, went seahawk game aweso...",5,great stay great stay went seahawk game awesom...

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer( max_features = 5000 , ngram_range = (1,2))
x = count.fit_transform(data['text']).toarray()

In [4]:
import pickle
pickle.dump(count , open('cv.pkl','wb'))

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0,1))
x = scaler.fit_transform(x)

In [6]:
x.shape[1]

5000

In [7]:
y = data['Rating']

In [8]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.20 , random_state = 1)

In [9]:
from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB()
model = nb.fit(x_train,y_train)

In [10]:
model.score(x_test,y_test)

0.58209319346182

In [11]:
pickle.dump(model,open('model.pkl','wb'))